.grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg img {
    max-height: 70%;
    max-width: 70%;
}

.bg {
    background-color: var(--auth-bg);
    height: 100vh;
    /*color: cornflowerblue;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/

}


.login {
    margin: 35% auto auto auto;
    color: black;
}

input {
    display: block;
    font-size: large;
    padding: 10px;
}

Button {
    margin: 10px;
}