/* Profile Card Section */

.profile {
    text-align: left;
    width: 650px;
}

.profile-banner {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: var(--setting-main-color);
    height: 110px;
}

.profile-card {
    background-color: var(--setting-profile-card-bg);
    border-radius: 0 0 8px 8px;
    padding: 16px;
}

.profile-card-field-list {
    background-color: var(--setting-primary-color);
    height: 100%;
    border-radius: 8px 8px 8px 8px;
    padding: 16px;
}

.field {
    height: 28%;
}

.field-spacer {
    margin-top: 12px;
}

.field h3 {
    font-size: 13px;
    font-weight: 600;
    color: var(--setting-secondary-text-color);
    margin: 0;
}

.field span {
    font-size: 13px;
    font-weight: 600;
    color: var(--setting-primary-text-color);
}

.status-input {
    display: inline;
    padding: 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    width: 150px;
    margin: 0;
}

.dark.status-input {
    background-color: var(--dark-login-button-background);
    display: inline;
    padding: 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    width: 150px;
    margin: 0;
}

.save-button {
    background-color: var(--button-color);
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: var(--button-hover-color);
}

.profile-description {
    align-self: center;
    width: 90%;
    border-radius: 10px;
    margin: 8px 16px 16px 16px;
    padding: 15px;
    font-size: 14px;
    background-color: #3f4249;
    color: var(--setting-primary-text-color);
    resize: none;
}

.profile h1 {
    color: var(--setting-primary-text-color);
}

.profile-content h3 {
    color: var(--setting-primary-text-color);
    text-transform: initial;
}

.profile label {
    padding-top: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.profile-pic-bg {
    background-color: var(--setting-profile-card-bg);
    display: flex;
    align-items: center;
}

.profilepic {
    border: 0;
    margin-top: -25px;
    margin-left: 15px;
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--setting-profile-card-bg);
    /*border: 7px solid var(--setting-profile-card-bg);*/
}

.profilepic:hover .profilepic__content {
    opacity: 1;
}

.profilepic:hover .profilepic__img {
    opacity: 0.5;
}

.profilepic__img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* add this line to set the background color */
}

.profilepic__icon {
    color: white;
    padding-bottom: 8px;
}

.fas {
    font-size: 20px;
}

.profilepic__text {
    text-transform: uppercase;
    font-size: 10px;
    width: 70%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.username-span {
    font-weight: 500;
    margin-top: -15px; /* adjust this value to move the element higher or lower */
    /*line-height: 200px; !* increase line-height to move the text up *!*/
    margin-left: 15px; /* decrease margin-left to move the text to the left */
    color: var(--setting-secondary-text-color);
    font-size: larger;
    flex-grow: 1;
}

.username-row {
    width: 20%;
}

.email-row {
    width: 45%;
}

.phone-row {
    width: 25%;
}

.reveal-button {
    font-size: 15px;
    margin-left: 10px;
    color: var(--setting-main-color);
    text-transform: capitalize;
    text-decoration: none;
}

.reveal-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-security {
    height: max-content;
}

/* General CSS section */

.section-title {
    color: var(--setting-primary-text-color);
    font-size: 20px;
}

.button {
    border-radius: 4px;
    margin: 15px 0 25px 0;
    padding: 5px 15px;
    background-color: var(--setting-main-color);
    color: var(--setting-primary-text-color);
    border: none;
    margin-left: 0;
    font-size: 15px;
    font-weight: 500;
}

.description.title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
}

.description {
    color: var(--setting-secondary-text-color);
    font-size: 14px;
}

hr {
    margin: 5% 5% 5% 0;
    border-color: var(--setting-hr-color);
}

/* Modal styles */

.modal-title {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92%; /* 50% width of the parent minus the margin */
    height: 200px;
    background-color: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}

.modal-label {
    text-align: center;
    font-weight: bold;
    color: #444444;
    margin-top: 8px;
    cursor: pointer;
}

/*To make it borderless between header and body*/
.modal-header {
    border-bottom: none;
}

.modal-body {
    border-top: none;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
}

.modal-body-space {
    padding-right: -10px;
    width: 100%;
}

.modal-icon {
    width: 130px;
    height: 160px;
    border-radius: 50%;
    background-color: #5f5f5f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.modal-upload {
    margin-right: 10px;
}

.modal-view {
    margin-left: 10px;
}

.modal-btn {
    background-color: #5f5f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.modal-btn:hover {
    background-color: #424242;
}

.modal-input {
    display: none;
}

.modal-box:hover .modal-label {
    color: black;
}
