.search input {
    display: flex;
    align-items: center;
    color: var(--font-color) !important;
    z-index: -1 !important;
    margin: 5px;
    border-color: var(--theme-fifth);
}

.search span {
    width: 80%;
}

.search-box {
    background-color: var(--dark-login-button-background);
}
