/* Profile block Section */
.profile {
    text-align: left;
    width: 93%;
}

.profile-banner {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: #516eda;
    height: 120px;
}

.profile-img {
    width: 91px;
    height: 91px;
    border-radius: 50px;
    justify-content: center;
    margin-left: 25px;
    margin-bottom: 25px;
    position: absolute;
}

.profile-card {
    background-color: #1d1e20;
    height: 225px;
    border-radius: 0 0 8px 8px;
    padding: 16px;
}

.profile-card-field-list {
    background-color: #2e2f31;
    height: 100%;
    border-radius: 8px 8px 8px 8px;
    padding: 16px;
}

.field {
    height: 28%;
}

.field-spacer {
    margin-top: 12px;
}

.field h3 {
    font-size: 13px;
    font-weight: 600;
    color: rgb(186, 182, 182);
    margin: 0;
}

.field span {
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.profile-description {
    align-self: center;
    width: 90%;
    border-radius: 10px;
    margin: 8px 16px 16px 16px;
    padding: 15px;
    font-size: 14px;
    background-color: #3f4249;
    color: #fff;
    resize: none;
}

.profile h1 {
    color: rgba(255, 255, 255, 0.8);
}

.profile-content h3 {
    color: #ccc;
    text-transform: initial;
}

.profile label {
    padding-top: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.user-info{
    background-color: #1d1e20;
    height: 72px;
}

.username-span {
    line-height: 80px;
    margin-left: 120px;
    color: white;
}

.username-row {
    width: 20%;
}

.email-row {
    width: 45%;
}

.phone-row {
    width: 25%;
}

.reveal-button {
    padding: 0px;
    font-size: 15px;
    border: none;
    background-color: #2e2f31;
    color: rgb(27, 136, 246);
}