/* Profile Card Section */

.profile {
    text-align: left;
    width: 650px;
}

.profile-banner {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: var(--setting-main-color);
    height: 110px;
}

.profile-img {
    width: 91px;
    height: 91px;
    border-radius: 50px;
    margin-left: 25px;
    margin-top: -85px;
    position: sticky;
}

.profile-card {
    background-color: var(--setting-profile-card-bg);
    border-radius: 0 0 8px 8px;
    padding: 16px;
}

.profile-card-field-list {
    background-color: var(--setting-primary-color);
    height: 100%;
    border-radius: 8px 8px 8px 8px;
    padding: 16px;
}

.field {
    height: 28%;
}

.field-spacer {
    margin-top: 12px;
}

.field h3 {
    font-size: 13px;
    font-weight: 600;
    color: var(--setting-secondary-text-color);
    margin: 0;
}

.field span {
    font-size: 13px;
    font-weight: 600;
    color: var(--setting-primary-text-color);
}

.profile-description {
    align-self: center;
    width: 90%;
    border-radius: 10px;
    margin: 8px 16px 16px 16px;
    padding: 15px;
    font-size: 14px;
    background-color: #3f4249;
    color: var(--setting-primary-text-color);
    resize: none;
}

.profile h1 {
    color: var(--setting-primary-text-color);
}

.profile-content h3 {
    color: var(--setting-primary-text-color);
    text-transform: initial;
}

.profile label {
    padding-top: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.user-info {
    background-color: var(--setting-profile-card-bg);
    height: 72px;
}

.username-span {
    font-weight: 600;
    line-height: 80px;
    margin-left: 25px;
    color: var(--setting-secondary-text-color);
    font-size: larger;
}

.username-row {
    width: 20%;
}

.email-row {
    width: 45%;
}

.phone-row {
    width: 25%;
}

.reveal-button {
    font-size: 15px;
    margin-left: 10px;
    color: var(--setting-main-color);
    text-transform: capitalize;
    text-decoration: none;
}

.reveal-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-security {
    height: max-content;
}

/* General CSS section */

.section-title {
    color: var(--setting-primary-text-color);
    font-size: 20px;
}

.button {
    border-radius: 4px;
    margin: 15px 0px 25px 0px;
    padding: 5px 15px;
    background-color: var(--setting-main-color);
    color: var(--setting-primary-text-color);
    border: none;
    margin-left: 0;
    font-size: 15px;
    font-weight: 500;
}

.description.title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
}

.description {
    color: var(--setting-secondary-text-color);
    font-size: 14px;
}

hr {
    margin: 5% 5% 5% 0;
    border-color: var(--setting-hr-color);
}
