.modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: none;
}

.dark.modal-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: none;
    background-color: var(--dark-background-color);
    color: white;
}

.dark.modal-title{
    background-color: var(--dark-background-color);
    color: white;
}

.modal-body {
    font-size: 1.1rem;
    line-height: 1.5;
    align-content: center;
    padding-left: 300px;
}

.dark.modal-body {
    background-color: var(--dark-background-color);
    color: white;
}

.header-text {
    margin-left: 15px;
}

.modal-footer {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: none;
}
.dark.modal-footer {
    background-color: #444444;
    color: white;
}

/* CSS for the container */
.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f2f2f2;
}

/* CSS for the box */
.box {
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for the input */
.input-box {
    border-color: #9a9494;
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 92%;
    font-size: 16px;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-box:focus {
    background-color: transparent;
}


