.messageGrid {
    display: grid;
    grid-template-columns: 60px auto;
    position: relative;
    text-align: left;
}

.message {
    background-color: var(--message-bg);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

#chat-window {
    height: 21rem;
}

#chat-window-messages {
    height: 20rem;
    overflow: auto;
}





