.navTopFirst {
    width: 80%;
    background-color: var(--theme-secondary);
}

.nav_head {
    background-color: inherit;
    height: 8vh;
    top: 0;
    padding-right: 5px;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav_head > h4 {
    padding: 20px;
    margin: 0;
}
