.messageGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.messageGridOwner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.message {
    background-color: var(--message-bg);
    width: fit-content;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
