.messageGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.messageGridOwner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.messageContent {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-left: 10px;
}

.messageContentOwner {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-right: 10px;
}

.message {
    background-color: var(--message-bg);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.messageOwner {
    background-color: var(--message-owner-bg);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.senderDisplayName {
    margin: 0 0 4px;
    font-size: 12px;
    font-weight: 300;
    color: #777;
    text-align: left;
}

.senderDisplayNameOwner {
    margin: 0 0 4px;
    font-size: 12px;
    font-weight: 300;
    color: #777;
    text-align: right;
}
