.send-message-form {
    position: fixed;
    bottom: 20px;
    left: 350px;
    right: 0;
    padding: 0;
}

.chat-window {
    height: 21rem;
}

.chat-window-messages {
    height: 20rem;
    overflow: auto;
}

.outlined-input .MuiOutlinedInput-notchedOutline {
    border: none;
}

.outlined-input:hover .MuiOutlinedInput-notchedOutline {
    border: none;
}

.outlined-input {
    background-color: var(--theme-fourth);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.submit-button {
    background-color: var(--message-owner-bg);
    color: var(--font-color);
    padding: 1rem;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.sendMessageFormContainer {
    position: relative;
}

.emojiPickerContainer {
    position: fixed;
    top: 70%;
    left: 70%;
    transform: translate(-75%, -75%);
    z-index: 10;
}
